.programs{
    margin: 80px auto; /*80px from top and bottom, auto for left and right*/
    width: 90%; /*80% of the viewport width*/
    display: flex; /*Use flexbox for layout*/
    align-items: center; /*Center items vertically*/
    justify-content: space-between; /*Space items evenly*/

}

.program img{
    width: 100%; /*Make the image take full width of its container*/
    border-radius: 10px;
    display: block; /*Ensure the image is treated as a block element*/
}

.program{
    flex-basis:31%; /*Each program takes up 31% of the container width*/
    position: relative; /*Position relative to allow absolute positioning of caption*/
}

.caption{
    border-radius: 10px; /*Round the corners of the caption*/
    position: absolute; /*Position the caption absolutely within the program container*/
    top:0; /*Align the caption to the top of the program container*/
    left: 0; /*Align the caption to the left of the program container*/
    bottom: 0; /*Stretch the caption to the bottom of the program container*/
    right: 0; /*Stretch the caption to the right of the program container*/
    background: rgba(0,15,152,0.3); /*Semi-transparent blue background 30% opacity*/
    display: flex; /*Use flexbox for layout within the caption*/
    align-items: center; /*Center items vertically within the caption*/
    flex-direction: column; /*Stack items vertically within the caption*/
    justify-content: center; /*Center items horizontally within the caption*/
    color: white; /*Text color white*/
    cursor: pointer; /*Change cursor to pointer on hover*/
    opacity: 0; /*Initially hide the caption*/
    padding-top:70%;
    transition: 0.4s ease; /*Smooth transition for opacity and padding changes*/
}    

.caption img{
    width: 60px; /*Set the width of the caption image*/
    margin-bottom: 10px;
}

.program:hover .caption{
    opacity: 1; /*Show the caption on hover*/
    padding-top: 0;
}